.feynman {
    position: relative;
    width: 100%;
    min-height: 890px;
    height: 100%;
    background-image: url(../../images/feynman.png);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 867px 637px;
    text-align: center;
    background-color: var(--second-background-color);
    padding-top: 100px;
}