.cards__item {
    display: flex;
    flex-direction: column;
    max-width: 240px;
    width: 100%;
    margin-right: 100px;
    text-align: center;
    padding: 0;
    box-sizing: border-box;
}

.cards__item:nth-of-type(3n + 3) {
    margin: 0;
}