.footer {
    box-sizing: border-box;
    position: relative;
    background-color: var(--first-background-color);
    color: #fff;
    flex-basis: 711px;
    min-height: 350px;
    padding: 60px 0 40px;
    margin: 0 auto;
    display: flex;
}